/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Inter:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


/* header  */

/* logo  */
/* .header-nav-logo{
    width: 100px;
} */

/* common styling  */

/* text color  */

.honda-text-alto{
    color: #E0E0E0;
}
.honda-text-burnt-sienna{
    color: #E76F51;
}
.honda-text-picton-blue{
    color: #23A6F0;
}
.honda-text-dove-gray{
    color: #6C6C6C;
}   

.honda-rating-color{
    color:  #E77C40;
}

.honda-text-mine-shaft{
    color: #383838;
}


/* background color  */
.honda-bg-blue-dianne{
    background-color: #264653;
}
.honda-bg-burnt-sienna{
    background-color: #E76F51;
}

/* font  */
.honda-font-family-inter{
    font-family: 'Inter', sans-serif;

}

.honda-font-weight-light{
    font-weight: 300;
}
.honda-font-weight-regular{
    font-weight: 400;
}
.honda-font-weight-medium{
    font-weight: 500;
}
.honda-font-weight-bold{
    font-weight: 700;
}
.honda-rating > .far.fa-star ,.rating .fas.fa-star{
    font-size: 1.375rem;
}




/* sizing  */
.w-06{
    width: 6%;
}
/* spacing  */

.honda-mt-7{
    margin-top: 4rem;
}
.honda-my-faq{
    margin-top: 9.8rem;
    margin-bottom: 7rem;
}
.honda-mt-n6{
    margin-top: -0.625rem;
}

.honda-feature-bike-frame{
    width: 288px;
    height: 243px;
}

.honda-filter-grayscale{
    filter: grayscale(100%);
}



/* ------------------------------------------
                HEADER
------------------------------------------*/
/* navigation section  */
/* hero section */


/* ------------------------------------------
                MAIN
------------------------------------------*/

/* featured bike section */
/* latest news optional */
/* happy client section  */

.honda-img-frame-client{
    height: 149px;
    width: 149px;
}

/* FAQ Section */
#faq-section button.accordion-button.bg-white.honda-font-weight-medium {
    color: #383838;
}

/* ------------------------------------------
                FOOTER
------------------------------------------*/


/* footer section  */