
/* 
Author : https://github.com/shafiqsuhag
*/

/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Inter:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


/* header  */

/* logo  */


/* common styling  */

/* text color  */

.honda-text-alto{
    color: #E0E0E0;
}
.honda-text-burnt-sienna{
    color: #E76F51;
}
.honda-text-picton-blue{
    color: #23A6F0;
}
.honda-text-dove-gray{
    color: #6C6C6C;
}   

.honda-rating-color{
    color:  #E77C40;
}

.honda-text-mine-shaft{
    color: #383838;
}


/* background color  */
.honda-bg-blue-dianne{
    background-color: #264653;
}
.honda-bg-burnt-sienna{
    background-color: #E76F51;
}


/* shadow  */
.honda-shadow-md-info{
    box-shadow: 0 0.05rem 0.55rem #d5e5fb;
}



/* font  */
.honda-font-family-inter{
    font-family: 'Inter', sans-serif;

}

.honda-font-weight-light{
    font-weight: 300;
}
.honda-font-weight-regular{
    font-weight: 400;
}
.honda-font-weight-medium{
    font-weight: 500;
}
.honda-font-weight-bold{
    font-weight: 700;
}
.honda-rating > .far.fa-star ,.rating .fas.fa-star{
    font-size: 1.375rem;
}




/* sizing  */
.w-06{
    width: 6%;
}
/* spacing  */

.honda-mt-7{
    margin-top: 4rem;
}
.honda-mt-faq-title{
    margin-top: 10rem;
}
.honda-mb-faq-title{
    margin-bottom: 3.25rem;
}
.honda-mt-n6{
    margin-top: -0.625rem;
}

.honda-feature-bike-frame{
    width: 288px;
    height: 243px;
}

.honda-filter-grayscale{
    filter: grayscale(100%);
}



/* ------------------------------------------
                HEADER
------------------------------------------*/
/* navigation section  */
/* hero section */


/* ------------------------------------------
                MAIN
------------------------------------------*/

/* featured bike section */
.featured-bike-container {
    min-height: 31rem;
 }
/* latest news optional */
/* happy client section  */

.honda-img-frame-client{
    height: 9.313rem;
    width:  9.313rem;
}

/* FAQ Section */
#faq-section button.accordion-button.bg-white.honda-font-weight-medium {
    color: #383838;
}




/* ------------------------------------------
                Extra Section
------------------------------------------*/
.bike-accessories-section{
    background-image: url(../images/bg-bike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.7);
}
.bike-move-to-left{
    /* position: absolute;
    left: 0;
    background-color: white;
    margin-top: 30px; */
    background-color: white;
    margin-top: 30px;
    transform: translate(-35%, 0);
}
.copy-right{
    
}

@media screen and (max-width:767px) {
    .copy-right{
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
        margin-top: 30px;
        
    }
    .bike-move-to-left{
        transform: translate(0, 0);
    }
}
/* ------------------------------------------
                FOOTER
------------------------------------------*/


/* footer section  */
.honda-bg-vulcan{
    background-color: #0B0D17;
}

/* 
Author : https://github.com/shafiqsuhag
*/